body {
    background-image: url('img/background-light-high.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
main {
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    margin: 3rem 0;
}
.input {
    position: absolute;
    width: 40%;
    height: 80%;
    left: 2.5%;
    top: 7.5%;
    padding: 1%;
    background-color: #ffffff4d;
    border: none;
    border-radius: 2em;
    resize: none;

    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    
    color: #805e00;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.input::placeholder {
    text-align: center;
    color: #805e00;
}

.input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.input::-webkit-scrollbar {
    display: none;
}

#div-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50%;

    position: absolute;
    width: 43rem;
    height: 4.2rem;
    left: 46%;
    top: 40%;
}
.criptar {
    appearance: none;
    background-color: #ffa703;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    line-height: normal;
    width: 9rem;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    }
    
    .criptar:disabled {
    pointer-events: none;
    }
    
    .criptar:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    }
    .descriptar {
        appearance: none;
        background-color: #d4d4d4;
        border: 0.125em solid #1A1A1A;
        border-radius: 0.9375em;
        box-sizing: border-box;
        color: #3B3B3B;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 600;
        line-height: normal;
        width: 9rem;
        margin: 0;
        min-height: 3.75em;
        min-width: 0;
        outline: none;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        will-change: transform;
        }
        
        .descriptar:disabled {
        pointer-events: none;
        }
        
        .descriptar:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
        }

        .output{
            position: absolute;
            width: 40%;
            height: 82.5%;
            left: 55%;
            top: 7.5%;
             padding: 0.5%;
            resize: none;
            border: none;
            border-radius: 2em;

            background-color: #ffffff71;
            background-image: url("img/no-found.png");
            background-repeat: no-repeat;
            background-position: center;
        
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            color: #495057;
        
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        
        .output:focus{
            box-shadow: 0 0 0 0;
            outline: 0;
        }
        
        .output::-webkit-scrollbar{
            display: none;
        }
        
        .output::selection {
            background: transparent;
            color: inherit;
        }